<div class="row">
        <div class="col-xs-12">
            <img src="" alt="" class="img-fluid">
        </div>
</div>  
<div class="row">
        <div class="col-xs-12">
            <h1>Recepie Name</h1>
        </div>
</div>
<div class="row">
        <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recepie <span class="caret"></span></button>
            <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">to Shopping list</a>
                    <a href="#" class="dropdown-item">Edit Recepie</a>
                    <a href="#" class="dropdown-item">Delete Recepie</a>
                </div>
        </div>
        </div>
</div>
<div class="row">
        <div class="col-xs-12">
           Description
        </div>
</div>    
<div class="row">
        <div class="col-xs-12">
           Ingredients
        </div>
</div>